@use '../functions' as f;

@mixin application-shadow {
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.4);
}

@mixin border-bottom {
    border-bottom: 1px solid f.theme-color('application', 'border');
}

@mixin border-top {
    border-top: 1px solid f.theme-color('application', 'border');
}
