@use '../functions' as f;

@mixin no-spacing {
    margin: 0;
    padding: 0;
}

@mixin padded($level) {
    padding: f.spacing($level);
}

@mixin left-padded($level) {
    padding-left: f.spacing($level);
}

@mixin viewport-box {
    width: 100vw;
    height: 100vh;
}

@mixin fixed-box($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin flex-box($width: auto, $height: auto, $direction: column) {
    width: $width;
    height: $height;

    display: flex;
    flex-direction: $direction;
    justify-content: flex-start;
    align-items: flex-start;
}

@mixin centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin horizontal-spacing($level) {
    & > :not(:first-child) {
        margin-left: f.spacing($level);
    }
}

@mixin rounded-corners($radius) {
    border-radius: $radius;
}

@mixin fixed-row($height: auto) {
    height: $height;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@mixin cover-parent {
    position: absolute;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
