@use '../functions' as f;

@mixin no-spacing {
    margin: 0;
    padding: 0;
}

@mixin padded($level) {
    padding: f.spacing($level);
}

@mixin left-padded($level) {
    padding-left: f.spacing($level);
}

@mixin viewport-box {
    width: 100vw;
    height: 100vh;
}

@mixin fixed-box($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin horizontal-spacing($level) {
    & > :not(:first-child) {
        margin-left: f.spacing($level);
    }
}

@mixin rounded-corners($radius) {
    border-radius: $radius;
}

@mixin entry-row($height) {
    width: 100%;
    height: $height;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}
