@use '../functions' as f;

@mixin webpage($state: "default") {
    color: f.theme-color("webpage", "text", $state);
    background: f.theme-color("webpage", "background", $state);
}

@mixin application($state: "default") {
    color: f.theme-color("application", "text", $state);
    background: f.theme-color("application", "background", $state);
}
