@use '../functions' as f;

@mixin webpage($state: 'default') {
    color: f.theme-color('webpage', 'text', $state);
    background: f.theme-color('webpage', 'background', $state);

    a {
        color: f.theme-color('webpage', 'link', $state);
    }

    a:visited {
        color: f.theme-color('webpage', 'link-visited', $state);
    }
}

@mixin application($state: 'default') {
    color: f.theme-color('application', 'text', $state);
    background: f.theme-color('application', 'background', $state);
}

@mixin button($state: 'default') {
    color: f.theme-color('button', 'text', $state);
    background: f.theme-color('button', 'background', $state);
    cursor: f.theme-value('button', 'cursor', $state);
}
