@use 'core/functions' as f;

@use 'core/mixins/themes';
@use 'core/mixins/layouts';
@use 'core/mixins/effects';
@use 'core/mixins/text-styles';

.application {
    @include themes.application;

    @include layouts.flex-box(650px, 500px);
    @include layouts.rounded-corners(6px);

    @include effects.application-shadow;
}

.top_bar {
    @include layouts.fixed-row(44px + 1px); // 1px for bottom border
    @include layouts.padded('sm');
    @include layouts.horizontal-spacing('sm');

    @include effects.border-bottom;

    .title {
        @include layouts.left-padded('md');
        @include text-styles.title;
    }
}

.bottom_bar {
    @include layouts.fixed-row(40px + 1px); // 1px fpr top border
    @include layouts.padded('xsm');
    @include layouts.horizontal-spacing('xsm');

    @include effects.border-top;

    .footer {
        @include layouts.left-padded('sm');
        @include text-styles.label;

        .heart {
            color: f.color('red-500');
            font-size: 16px;

            position: relative;
            top: 1px;
        }
    }
}

.spacer {
    @include layouts.spacer;
}
