@use 'core/functions' as f;

@use 'core/mixins/themes';
@use 'core/mixins/layouts';
@use 'core/mixins/effects';
@use 'core/mixins/text-styles';

.application {
    @include themes.application;

    @include layouts.flex-box(650px, 500px);
    align-items: stretch;
    
    @include layouts.rounded-corners(6px);
    @include effects.application-shadow;
}

.top_bar {
    @include layouts.fixed-row(44px + 1px); // 1px for bottom border
    @include layouts.padded('sm');
    @include layouts.horizontal-spacing('sm');

    @include effects.border-bottom;

    .title {
        @include layouts.left-padded('md');
        @include text-styles.title;
    }
}

.bottom_bar {
    @include layouts.fixed-row(40px + 1px); // 1px fpr top border
    @include layouts.padded('xsm');
    @include layouts.horizontal-spacing('xsm');

    @include effects.border-top;

    .footer {
        @include layouts.left-padded('sm');
        @include text-styles.label;

        .heart {
            color: f.color('red-500');
            font-size: 16px;

            position: relative;
            top: 1px;
        }
    }
}

.spacer {
    @include layouts.spacer;
}

.placeholder {
    @include layouts.flex-box;
    @include layouts.centered-content;

    position: relative;

    flex: 1;
    opacity: 75%;

    .icon {
        font-size: 200px;
        color: f.color('gray-300');
    }

    .title {
        @include text-styles.heading-h2;
    }

    .sub_title {
        @include text-styles.label;
    }

    .select_files_hint {
        position: absolute;
        bottom: f.spacing('sm');
        right: f.spacing('md');

        @include layouts.fixed-row;
        @include layouts.horizontal-spacing('xsm');

        @include text-styles.normal;

        .arrow {
            font-size: 24px;
        }
    }
}
